@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&family=Roboto+Condensed:wght@700&display=swap');

:root {
  --clr-white: #fff;
  --clr-green: #5ece7b;
  --clr-text-color: #1D1F22;
  --clr-black: #000000;
  --clr-hover-color: #eeeeee;
  --ctrl-box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
  --ctrl-box-shadow-rounded: 0px 0px 35px 5px rgba(168, 172, 176, 0.19);
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}